.THIS {
    Background-color:orange;
    padding-top:20px;
}
h1.THIS{
         font-size:60px;
         font-weight:bold;    
}
.THIS.yellow{
    background-color:yellow;
}
.THIS.blue{
    background-color:blue;
}
.THIS.red{
    background-color:red;
}